@import "src/components/styles/Landing.module";

.about{
  @extend .landing;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5%;
  padding-bottom: 5%;

  @media all and (max-width: 990px) {
    grid-template-columns: 1fr;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p{
      margin-bottom: 10%;

      @media all and (max-width: 990px) {
        margin-top: 15%;
      }
    }
  }

  img{
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5% 0 10% 0;
    display: block !important;

    @media all and (max-width: 990px) {
      width: 50%;
    }
  }

  h4{
    font-size: 1rem;

    @media all and (max-width: 990px) {
      font-size: 0.9rem;
    }
  }

  button{
    width: fit-content;
    padding: 0 20px;
  }

  a{
    margin-top: 5%;
  }
}
