@import "src/style";
@import "src/components/styles/Landing.module";

.contact{
  @extend .landing;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .contactForm{
    .notification{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 3% 5%;
    }

    form{
      display: flex;
      flex-direction: column;
      width: 100%;

      input, textarea{
        width: 70%;
        height: 40px;
        margin-top: 5%;
        padding: 1% 3%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
      }

      textarea{
        height: 100px;
        resize: none;
        padding: 3%;
      }

      button{
        margin-top: 5%;
      }
    }
  }

  .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;

    .icons{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      span{
        margin-right: 3%;
        cursor: pointer;
        transform: scale(1);
      }

      span:hover{
        transform: scale(1.05);
      }
    }

    .facebook:hover{
      color: #1773EA;
    }

    .twitter:hover{
      color: #009DED;
    }

    .instagram:hover{
      color: #D64270;
    }

    .linkedin:hover{
      color: #0074B3;
    }

    .github:hover{
      color: #161414;
    }

    .address{
      font-size: 1.2rem;
      margin-top: 5%;
    }
  }
}