@import "src/style";

.landing{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $horizontal-padding;
  border-bottom: 10px solid rgb(250, 250, 250);
  overflow: hidden;

  h4{
    font-size: 1.5rem;
    font-weight: 500;
  }

  p{
    font-size: 2rem;
    font-weight: 700;
    margin: 3% 0;
    width: 70%;
  }

  .buttons{
    margin-top: 8%;

    .contactBtn{
      margin-left: 3%;
    }
  }

  img{
    width: 40%;
    object-fit: cover;
  }
}