@import "src/style";

.progressBar{
  width: 70%;
  margin-top: 3%;

  @media all and (max-width: 990px) {
    width: 100%;
  }

  .title{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0;

    @media all and (max-width: 990px) {
      font-size: 0.8rem;
      margin-top: 3%;
    }

  }

  .bar{
    width: 100%;
    background: rgba(210, 210, 210);
    height: 5px;
    border-radius: 2px;
    margin-top: 0;

    @media all and (max-width: 990px) {
      height: 4px;
    }
  }

  .progress{
    background: $gradient;
    background-size: 150% 150%;
    height: 5px;
    transition: 0.3s;
    transform: scale(1);

    @media all and (max-width: 990px) {
      height: 4px;
    }
  }

  .progress:hover{
    background-position: 100% 100%;
    transform: scale(1.1);
  }
}