.toTopBtn{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}